[submodule ".emacs.d/git/better-defaults"]
	path = .emacs.d/git/better-defaults
	url = git@github.com:truesilver92/better-defaults.git
[submodule ".emacs.d/git/dash"]
	path = .emacs.d/git/dash
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/git/with-editor"]
	path = .emacs.d/git/with-editor
	url = https://github.com/magit/with-editor.git
[submodule ".emacs.d/git/magit"]
	path = .emacs.d/git/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/git/geiser"]
	path = .emacs.d/git/geiser
	url = https://gitlab.com/jaor/geiser.git
[submodule "git/exec-path-from-shell"]
	path = git/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule ".emacs.d/git/exec-path-from-shell"]
	path = .emacs.d/git/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule ".emacs.d/git/projectile"]
	path = .emacs.d/git/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule ".emacs.d/git/clojure-mode"]
	path = .emacs.d/git/clojure-mode
	url = https://github.com/clojure-emacs/clojure-mode.git
[submodule ".emacs.d/git/cider"]
	path = .emacs.d/git/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule ".emacs.d/git/paredit"]
	path = .emacs.d/git/paredit
	url = http://mumble.net/~campbell/git/paredit.git/
[submodule ".emacs.d/git/spinner"]
	path = .emacs.d/git/spinner
	url = https://github.com/Malabarba/spinner.el.git
[submodule ".emacs.d/git/predictive"]
	path = .emacs.d/git/predictive
	url = http://www.dr-qubit.org/git/predictive.git
[submodule ".emacs.d/git/php-mode"]
	path = .emacs.d/git/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule ".emacs.d/git/web-mode"]
	path = .emacs.d/git/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule ".emacs.d/git/flycheck"]
	path = .emacs.d/git/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule ".emacs.d/git/yasnippet"]
	path = .emacs.d/git/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule ".emacs.d/git/restclient"]
	path = .emacs.d/git/restclient
	url = https://github.com/pashky/restclient.el.git
[submodule ".emacs.d/git/quickrun"]
	path = .emacs.d/git/quickrun
	url = https://github.com/syohex/emacs-quickrun.git
[submodule ".emacs.d/git/expand-region"]
	path = .emacs.d/git/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/git/avy"]
	path = .emacs.d/git/avy
	url = https://github.com/abo-abo/avy.git
[submodule ".emacs.d/git/company-mode"]
	path = .emacs.d/git/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule ".emacs.d/themes/monokai"]
	path = .emacs.d/themes/monokai
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
[submodule ".emacs.d/themes/cyberpunk"]
	path = .emacs.d/themes/cyberpunk
	url = https://github.com/n3mo/cyberpunk-theme.el.git
[submodule "ample-zen"]
	path = .emacs.d/themes/ample-zen
	url = https://github.com/mjwall/ample-zen.git
[submodule ".emacs.d/themes/clues"]
	path = .emacs.d/themes/clues
	url = https://github.com/emacsfodder/emacs-clues-theme.git
[submodule ".emacs.d/themes/soothe"]
	path = .emacs.d/themes/soothe
	url = https://github.com/emacsfodder/emacs-soothe-theme.git

[submodule ".emacs.d/git/org-bullets"]
	path = .emacs.d/git/org-bullets
	url = https://github.com/emacsorphanage/org-bullets.git
[submodule ".emacs.d/git/yaml-mode"]
	path = .emacs.d/git/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/git/graphql-mode"]
	path = .emacs.d/git/graphql-mode
	url = https://github.com/davazp/graphql-mode.git
[submodule ".emacs.d/git/csharp-mode"]
	path = .emacs.d/git/csharp-mode
	url = https://github.com/josteink/csharp-mode.git
[submodule ".emacs.d/git/omnisharp-emacs"]
	path = .emacs.d/git/omnisharp-emacs
	url = https://github.com/OmniSharp/omnisharp-emacs.git
[submodule ".emacs.d/git/julia-emacs"]
	path = .emacs.d/git/julia-emacs
	url = https://github.com/JuliaEditorSupport/julia-emacs.git
[submodule ".emacs.d/git/markdown-mode"]
	path = .emacs.d/git/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule ".emacs.d/git/emacs-elixir"]
	path = .emacs.d/git/emacs-elixir
	url = https://github.com/elixir-editors/emacs-elixir.git
[submodule ".emacs.d/git/haskell-mode"]
	path = .emacs.d/git/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule ".emacs.d/git/epl"]
	path = .emacs.d/git/epl
	url = https://github.com/cask/epl.git
[submodule "pkg-info"]
	path = .emacs.d/git/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule ".emacs.d/git/ghub"]
	path = .emacs.d/git/ghub
	url = https://github.com/magit/ghub.git
[submodule "magit-popup"]
	path = .emacs.d/git/magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule ".emacs.d/git/sesman"]
	path = .emacs.d/git/sesman
	url = https://github.com/vspinu/sesman.git
